.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;

  cursor: pointer;

  border-top: 10px solid rgba(255, 255, 255, 0);
}





.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}



